/*--------------------- Variables -----------------------*/

:root {
  --off-black: #292725;
  --off-white: #F6F6F6;
  --medium-red: #FD4430;
  --dark-red: #DB3327;
  --light-grey: #B5B1B1;
  --medium-grey: #7D7D7D;
  --dark-grey: #383838;  
}

/* ---------------------- Reset ------------------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*-------------------------- Typography -----------------------*/

html {
  font-size: 16px;
  background-color: var(--off-black);
  color: var(--off-white);
  font-family: 'Karla', sans-serif;
}

h1, h2 {
  color: var(--medium-red);
  font-weight: 700;
}

h1 {
  font-size: 4rem;
}

@media(min-width: 1440px) {
  h1 {
    font-size: 8rem;
  }
}

h2 {
  font-size: 2rem;
  text-transform: capitalize;
}

@media(min-width: 1440px) {
  h2 {
    font-size: 1.85rem;
  }
}

p {
  font-weight: 500;
  line-height: 1.5rem;
}

.section__text--big {
  font-size: 1.2rem;
}

@media(min-width: 1440px) {
  .section__text--big {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.menu__item--small-no-border {
  font-size: 1.2rem;
}

ul {
  font-size: 1.5rem;
}

.capsule {
  font-size: .85rem;
}

@media(min-width: 1440px) {
  .project-container__text-container__text {
    font-size: .9rem;
  }
}

@media(min-width: 1440px) {
  .button--small {
    font-size: .9rem;
  }
}

.form__input {
  font-family: inherit;
  font-size: .9rem;
}

@media(min-width: 1440px) {
  .location-icon {
    font-size: 2rem;
  }
}

/*-------------------------- General Styles -----------------------*/

body {
  height: 100vh;
}

#root, .App {
  min-height: 100vh;
}

ul {
  list-style-type: none;
}

.section {
  background-color: var(--off-black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  padding: 2rem 1.8rem 6rem;
  text-align: center;
}

@media(min-width: 1440px) {
  .section {
    height: 100vh;
    text-align: left;
    align-items: flex-start;
    padding: 2rem 8rem 2rem 14rem;
  }
}

@media(min-width: 1440px) {
  .section--flex-row {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.section__title {
  margin-bottom: .5rem;
}

.section__span {
  color: var(--medium-red);
}

.image {
  width: 100%;
  height: 100%;
}

.button {
  text-decoration: none;
  background-color: var(--medium-red);
  width: 100%;
  padding: .6rem;
  display: inline-block;
  color: var(--off-white);
  border-radius: 10px;
  transition: all .1s linear;
  border: none;
  cursor: pointer;
}

.button:hover, .button:active, .button:focus {
  background-color: var(--dark-red);
}

/*------------------- Navbar ----------------*/

.nav {
  width: 100%;
  height: 5rem;
  position: fixed;
  bottom: 0;
  left: 0;
}

@media(min-width: 1440px) {
  .nav {
    top: 0;
    width: 7rem;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.menu {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media(min-width: 1440px) {
  .menu--flex-column {
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 30%;
  }
}

.menu__item {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--off-black);
  border-radius: 100%;
  border: 1.5px solid var(--off-white);
  color: var(--off-white);
  cursor: pointer;
  font-size: 1.1rem;
  transition: all .1s linear;
}

.menu__item--highlighted {
  color: var(--off-black);
  background-color: var(--off-white);
}

.menu__item:active, 
.menu__item:hover, 
.menu__item:focus {
  border: 1.5px solid var(--medium-grey);
  outline: none;
}

.menu__item__span {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/*------------------------ Home Section -----------------------*/

@media(min-width: 1440px) {
  .section--custom-bg {
    background-image: url("../src/images/bg-home.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: calc(100% - 8rem);
  }
}

@media(min-width: 1440px) {
  .section__text-container {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

.menu--big-spacing {
  margin: 2rem 0 -2.5rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

@media(min-width: 1440px) {
  .menu--big-spacing {
    justify-content: flex-start;
    margin: 1rem 0;
    height: 4rem;
  }
}

.menu__item--small-no-border {
  border: none;
  background-color: var(--medium-red);
  width: 2.5rem;
  height: 2.5rem;
  transition: all .1s linear;
}

@media(min-width: 1440px) {
  .menu__item--small-no-border {
    margin-right: 2rem;
  }
}

.menu__item--small-no-border:active,
.menu__item--small-no-border:hover,
.menu__item--small-no-border:focus {
  background-color: var(--dark-red);  
  border: none;
} 

/*----------------------- About Me Section -----------------------*/

@media(min-width: 1440px) {
  .section__container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

@media(min-width: 1440px) {
  .section__container--new-order {
    order: -1;
    width: 40%
  }
}

@media(min-width: 1440px) {
  .section__container--flex-column {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.section__image-container {
  height: 8rem;
  width: 8rem;
  border-radius: 100%;
  overflow: hidden;
  margin-bottom: .5rem;
}

@media(min-width: 1440px) {
  .section__image-container {
    height: 40rem;
    width: 100%;
    border-radius: 0;
    overflow: hidden;
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

@media(min-width: 1440px) {
  .image {
    width: 35rem;
    height: 35rem;
  }
}

@media(min-width: 1440px) {
  .image--shadow {
    box-shadow: 2rem 2rem 0 var(--medium-red);
    margin-right: 2rem;
  }
}

/*------------------------ Projects Section -----------------*/

@media(min-width: 1440px) {
  .section__container--overflow {
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 3rem;
    padding: 0 1rem;
    scrollbar-width: thin;
    scrollbar-color: #777 #333;
  }

  .section__container--overflow::-webkit-scrollbar {
    width: .6vw;
  }

  .section__container--overflow::-webkit-scrollbar-thumb {
    background-color: #777;
  }

  .section__container--overflow::-webkit-scrollbar-track {
    background-color: #333;
  }
}

@media(min-width: 1600px) {
  .section__container--overflow {
    width: 55%;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
  }
}

.project-container {
  width: 80vw;
  background-color: var(--dark-grey);
  margin-top: 1.6rem;
  border-radius: 25px;
  overflow: hidden;
}

@media(min-width: 1440px) {
  .project-container {
    width: 70%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
  }
}

@media(min-width: 1600px) {
  .project-container {
    width: 90%;
    height: 35rem;
  }
}

@media(min-width: 1440px) {
  .project-container__image-container {
    height: 50%;
    width: 100%;
    display: flex;
  }
}

@media(min-width: 1440px) {
  .project-container__image-container__image {
    height: auto;
    width: 100%;
  }
}

.project-container__text-container {
  padding: 1rem;
}

.project-container__text-container__title,  
.project-container__text-container__technologies-container,
.project-container__text-container__text {
  margin-bottom: 1rem;
}

@media(min-width: 1440px) {
  .project-container__text-container__title,  
  .project-container__text-container__technologies-container,
  .project-container__text-container__text {
    margin-bottom: .7rem;
    text-align: left;
}
}

.project-container__text-container__technologies-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media(min-width: 1440px) {
  .project-container__text-container__technologies-container {
    justify-content: flex-start;
  }
}

.capsule {
  background-color: var(--medium-grey);
  border-radius: 25px;
  padding: .2rem 1rem;
  margin: .2rem;
}

@media(min-width: 1440px) {
  .button--small {
    text-align: center;
    width: 40%;
    margin: 0 30%;
  }
}

/*--------------------------- Contact Section -------------------------------*/

.form-container {
  width: 80%;
  margin: 2rem auto 0;
}

@media(min-width: 1440px) {
  .form-container {
    margin: 2rem 0;
    width: 70%;
  }
}

@media(min-width: 1440px) {
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2rem 30vh 2rem;
    gap: 1rem;
  }
}

.form__input {
  padding: .25rem;
  width: 100%;
  height: 2rem;
  border: none;
  margin-bottom: .5rem;
  background-color: var(--off-white);
  border-radius: 5px;
}

@media(min-width: 1440px) {
  .form__input {
    height: 2.2rem;
  }
}

@media(min-width: 1440px) {
  .form__input--col-2 {
    grid-column: 2/ 3;
  }
}

.form__input--large {
  height: 9rem;
  resize: none;
}

@media(min-width: 1440px) {
  .form__input--large {
    grid-column: 1/ 3;
    height: 30vh;
  }
}

@media(min-width: 1440px) {
  .button--medium {
    width: 60%;
    height: 2.3rem;
    grid-column: 2/ 3;
    margin-left: auto;
  }
}

.section__container--hidden {
  display: none;
}

@media(min-width: 1440px) {
  .section__container--hidden {
    display: block;
    position: relative;
  }
}

@media(min-width: 1440px) {
  .map {
    width: 100%;
    height: 100%;
  }
}
